agate==1.7.0
alembic==1.10.4
asn1crypto==1.5.1
attrs==23.1.0
Babel==2.12.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cryptography==40.0.2
databricks-sdk==0.1.3
databricks-sql-connector==2.5.1
dbt-core==1.5.0
dbt-databricks==1.5.0
dbt-extractor==0.4.1
dbt-snowflake==1.5.0
dbt-spark==1.5.0
et-xmlfile==1.1.0
filelock==3.12.0
future==0.18.3
greenlet==2.0.2
hologram==0.0.16
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
isodate==0.6.1
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.17.3
keyring==23.13.1
leather==0.3.4
Logbook==1.5.3
lz4==4.3.2
Mako==1.2.4
MarkupSafe==2.1.2
mashumaro==3.6
minimal-snowplow-tracker==0.0.2
more-itertools==9.1.0
msgpack==1.0.5
networkx==2.8.8
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
oscrypto==1.3.0
packaging==23.1
pandas==1.5.3
parsedatetime==2.4
pathspec==0.11.1
pkgutil_resolve_name==1.3.10
protobuf==4.22.4
pyarrow==12.0.0
pycparser==2.21
pycryptodomex==3.17
PyJWT==2.6.0
pyOpenSSL==23.1.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3
PyYAML==6.0
requests==2.30.0
SecretStorage==3.3.3
six==1.16.0
snowflake-connector-python==3.0.3
SQLAlchemy==1.4.48
sqlparams==5.1.0
sqlparse==0.4.3
text-unidecode==1.3
thrift==0.16.0
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.3.3
zipp==3.15.0
